
html {
  background-color: #504848
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px;
}


select {
  display: block;
}

.white {
  background-color: #fff;
  color: #000;
}

.active-menu {
  border-bottom: 3px solid blue;
  font-size: 30px;
}

.input-field .red-txt {
  color: red !important;
}